# Home Assistant files to ignore
secrets.yaml
.storage/
*.db
*.db-shm
*.db-wal
*.log
home-assistant.log.*
# not syncing the custom_components folder to GitHub.
custom_components/
solcast_solar/
*.mp3tts
.cloud/production_auth.json
.ha_run.lock
.HA_VERSION
